<div class="container mt-4">
    <h2 class="mb-3">Pokémon List</h2>
    <div class="row" *ngIf="pokemons.length > 0; else loading">
      <div class="col-md-4 mb-3" *ngFor="let p of pokemons">
        <div class="card">
          <img [src]="p.image" [alt]="p.name" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ p.name }}</h5>
            <p class="card-text">
              Power: {{ p.power }} | Life: {{ p.life }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <ng-template #loading>
      <p>Loading Pokémon...</p>
    </ng-template>
  </div>